{% if Deck is defined %}
    {% if avertissement is defined %}
        {% if avertissement!='deck valide' %}
            <div class="avertissement">{{ avertissement }}</div>
        {% endif %}
    {% endif %}
    {% if erreur is defined %}
        <div class="erreur">{{ erreur }}</div>
    {% endif %}
    <div class="col-lg-9">
        <input type="text" name="nom_deck" id="nom_deck" value="{{ Deck.nom }}"/><br/>
        {% if Deck.cartes is defined %}
            {% for carteDeck in Deck.cartes %}
                <div class="col-lg-4">
                    <img src="{{ asset('bundles/jeusquickstrike/images/'~carteDeck.carte.lien) }}" id="{{ carteDeck.id }}" class="carte_deck" 
                         {% for agrandi in carteDeck.carte.lienAgrandi %}
                             data-agrandi-{{ loop.index }}="{{ asset('bundles/jeusquickstrike/images/'~agrandi) }}"
                         {% endfor %}
                         />
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
