{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ asset('css/carte.css') }}" />
{% endblock %}



{% block body %}
    {{ parent() }}
    {% if (inversable is defined) and (inversable==true) %}
        <a href="{{ path('jeus_'~jeu~'_partie_inverser', {'id':Partie.id})}}">inverser affichage</a>
    {% endif %}
    {% if (choixPossibles is defined) and (choixPossibles|length>0) %}
        <div id="liste-deck">
            {% for choix in choixPossibles %}
                {{choix|raw }}
            {% endfor %}
        </div>
    {% endif %}
    <div id="tapis">
    </div>
</div>


{%endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var url = {{ path('jeus_'~jeu~'_carte') }};
    </script>
{% endblock %}
