{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ asset('css/carte.css') }}" />
{% endblock %}



{% block body %}
    {{ parent() }}
    {% if (inversable is defined) and (inversable==true) %}
        <a href="{{ path('jeus_'~jeu~'_partie_inverser', {'id':Partie.id})}}">inverser affichage</a>
    {% endif %}
    {% if (listeDecks is defined) and (listeDecks|length>0) %}
        <div id="liste-deck">
            {% for Deck in listeDecks %}
                <a href="{{ path('jeus_'~jeu~'_partie_choix_deck', {'id':Partie.id, 'idDeck':Deck.id})}}">{{ Deck.nom }}</a>
            {% endfor %}
        </div>
    {% endif %}
    <div id="tapis">
    </div>
</div>


{%endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var url = {{ path('jeus_'~jeu~'_carte') }};
    </script>
{% endblock %}
