{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {#<link type="text/css" rel="stylesheet" href="{{ asset('css/carte.css') }}" />#}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/partie-'~jeu~'.css') }}" />
{% endblock %}



{% block body %}
    {{ parent() }}
    <div id="choix">
        {% if (inversable is defined) and (inversable==true) %}
            <a href="{{ path('jeus_'~jeu~'_partie_inverser', {'id':Partie.id})}}">inverser affichage</a>
        {% endif %}
        {% if (choixPossibles is defined) %}
            {% if (choixPossibles|length>0) %}
                {% for choix in choixPossibles %}
                    {{choix|raw }}
                {% endfor %}
            {% else %}
                <a href="{{ path('jeus_'~jeu~'_partie', {'id':Partie.id})}}">attente du joueur adverse</a>
            {% endif %}
        {% endif %}
    </div>
    <div id="tapis">
        {% if carteAdversaires is defined %}
            <div id="cartes-adversaire">
                {% for emplacement, cartes in carteAdversaires %}
                    <div id="{{emplacement}}-adverse"  >
                        {% for carte in cartes %}
                            <div class="card">
                                {% set zoneChargee = null %}
                                {% for emplacementZone, chargee in emplacementInclineAdversaires%}
                                    {% if (emplacementZone == emplacement) %}
                                        {% set zoneChargee = ' chargee' %}
                                    {% endif %}
                                {% endfor%}
                                <img src="{{ asset('images/'~jeu|capitalize~'/'~carte.lien) }}" id="{{ carte.id }}" class="card{{zoneChargee}}" {% if carte.hint is defined %}title="{{carte.hint}}"{% endif %} />
                                <div class="infos infos-absolute-partie">
                                    <img src="{{ asset('images/'~jeu|capitalize~'/'~carte.agrandi) }}" class="carte_partie-agrandi" id="aggrandi-{{ carte.id }}"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if carteJoueurs is defined %}
            <div id="cartes-joueur">
                {% for emplacement, cartes in carteJoueurs %}
                    <div id="{{emplacement}}">
                        {% for carte in cartes %}
                            <div class="card">
                                {% set zoneChargee = null %}
                                {% for emplacementZone, chargee in emplacementInclineJoueurs%}
                                    {% if (emplacementZone == emplacement) %}
                                        {% set zoneChargee = ' chargee' %}
                                    {% endif %}
                                {% endfor%}                                
                                <img src="{{ asset('images/'~jeu|capitalize~'/'~carte.lien) }}" id="{{ carte.id }}" class="card{{zoneChargee}}" {% if carte.hint is defined %}title="{{carte.hint}}"{% endif %} />
                                <div class="infos infos-absolute-partie">
                                    <img src="{{ asset('images/'~jeu|capitalize~'/'~carte.agrandi) }}" class="carte_partie-agrandi" id="aggrandi-{{ carte.id }}"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% for emplacement, energie in energieDisponibles %}
            {% if energie>0 %}
                <span class="informations" id="{{emplacement}}">{{energie}}</span>
            {% endif %}
        {% endfor %}
    </div>

    <input type="hidden" id="timestamp" value="{{Partie.dateDerniereAction.timestamp}}"/>
</div>


{%endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script>
        var url = {{ path('jeus_'~jeu~'_carte') }};
    </script>#}
{% endblock %}
