{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ asset('css/carte.css') }}" />
{% endblock %}



{% block body %}
    {{ parent() }}
    <div class="col-lg-12 col-md-8">
        <div class="row" id="attente">
            
            {% if (
                ((jeu=='bleach') and (Joueur.enAttenteBleach==false))
                or ((jeu=='quickstrike') and (Joueur.enAttenteQuickstrike==false))
                or ((jeu=='saintseiya') and (Joueur.enAttenteSaintSeiya==false))
            ) %}
                {% if (
                    ((jeu=='bleach') and (Joueur.isDeckBleachDisponible))
                    or ((jeu=='quickstrike') and (Joueur.isDeckQuickstrikeDisponible))
                    or ((jeu=='saintseiya') and (Joueur.isDeckSaintSeiyaDisponible))
                ) %}
                    <a href="{{ path('jeus_'~jeu~'_joueur_enAttente')}}">Se placer dans la file d'attente</a>
                {% endif %}
            {% else %}    
                <a href="{{ path('jeus_'~jeu~'_joueur_annulerAttente')}}">Sortir de la file d'attente</a>
            {% endif %}    
        </div>
        <div class="row" id="joueurs-en-attente">
            {% if liste|length==0 %}
                aucun joueur en attente
            {% else %}
                {% for Joueur in liste %}
                    <p>
                        <a href="{{ path('jeus_'~jeu~'_joueur_affronter', {'idJoueur':Joueur.id})}}">{{ Joueur.username }}</a>
                    </p>
                {% endfor %}
            {% endif %}        
        </div>
        <div class="row" id="parties">
            {% if listePartie|length==0 %}
                aucune partie en cours
            {% else %}
                {% for Partie in listePartie %}
                    <p>
                        <a href="{{ path('jeus_'~jeu~'_partie', {'id':Partie.id})}}">{{ Partie.id }} : {{ Partie.Joueur1.username }} - {{ Partie.Joueur1.username }}</a>
                    </p>
                {% endfor %}
            {% endif %}        
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
